/*-----------------------default setup---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image:url("./Images/background12.png");
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}
/*----------------------------common classes-------*/

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around
{
    justify-content: space-around;
}
.br
{ 
    border: 1px solid red;
}
.cbr
{ 
    border: 1px solid yellow;
}
.cdr
{
    border: 1px solid yellowgreen;
}

/*------------------------navbar----------------------*/
.navbar
{
    padding: 0px 150px;
}
.logo
{
    padding: 5px 9px;
}
.account
{
    padding: 25px 20px;
}
.list-items
{
    display: flex;
    
}
.list-items li{
     padding-right: 13px; 
     font-weight: 400;
     font-size: 11px;
     color: rgb(115,114,114);
}
.list-items a{
    color: rgb(75,74,74);
}
.list-items li::before
{
    content: "| ";
    padding-right: 9px;
}
.list-items li:first-child::before { content: ''; }

/*------------------------navbar----------------------*/
.quick-links
{
     height: 34px; 
    
}
.top-bottom-border
{
    border-top: 1px solid rgb(216,214,215);
    border-bottom: 1px solid rgb(216,214,215);
    padding: 1px 0px;
   
}
.links-bar
{
    background-color:rgb(216,214,215);
    padding: 0px 150px;
    height: 30px;
}
.links
{
    background-color: white;
    height: 30px;
    margin-right: 0px;
}
.links li{
    font-weight: 400;
    font-size: 11px;
}
.links a{
    height: 30px;
    padding: 8px 23px;
    background-color:rgb(216,214,215);
    color: rgb(70,68,69);
    
    display: inline-block;
    
}
.back-color
{
    margin-left: 0.5px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 27px;
    background-color:rgb(216,214,215);   
}
.back-color:hover
{
    background-color: white;
}
.links li a:hover
{
    background-color: white;
}
.nav-searchbar{
    height: 13px;
    margin-left: 28px;
    margin-right: 2px;
    font-size: 10px;
    width: 160px;
    border: none;
    box-shadow: inset 1px 1px 1px #6d6d6d ;
  }
  .btn-search{
    border: solid 1px #b1b1b1;
    border-radius: 5px;
    font-size: 10px;
    color: #4a4a4a;
    height: 13px;
    padding: 1px 5px;
  }
/*------------------------navbar----------------------*/
.special-offers
{
    height: 44px;
    padding: 0px 140px;
    border-bottom: 1px solid rgb(216,214,215);
}
.offers-links
{
    margin: 5px 0px;
    
}
.offers-links li::before
{
    content: " o";
    padding: 0px 15px;
    color:rgb(216,214,215);
}
.offers-links li:first-child::before { content: ''; }
.offers-links a
{
    color:rgb(178,184,198);
    padding: 5px 0px;
    display: inline-block;
}
.offers-container-image
{
    margin: 0.5px 0px;
}
.offer-container-right
{
    margin: 5px 0px;
   
}
.offer-container-right-link
{
    color:rgb(178,184,198);
    padding: 5px 38px;
    display: inline-block;
}
/*------------------------navbar----------------------*/
.main-frame
{
    margin: 0px 170px;
}
.catlogue
{
    background-color:white;
    padding: 8px 5px;
    /* height: max-content; */
}
.image-container
{
    /* height: inherit; */
    /* margin:0 auto; */
}
.image-container img{
    
    height: 100%;
    width: fit-content;
}
.DressTable-Ideas
{
    /* width: 30%; */
    background-color: rgb(47,46,44);
    margin: 0px 5px;
    padding: 10px 10px;
    color: white;
}
.dress-container
{
    border: 1px solid white;
    padding: 25px 25px;
    
}
.title-tag
{
    font-weight: 400;

}
.para
{
    margin: 20px 0px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(163,162,162);
}
.dress-links
{
    margin: 20px 0px;
}
.dress-links li{
    margin:0px 0px;
    padding: 5px 0px;
   
}
.dress-links li:not(:last-child)
{
    border-bottom: 1px solid rgb(163,162,162);
    
}
.dress-links a
{
   
    color: rgb(217,219,219);
    
}
.bott-border
{
    border-bottom: 1px solid rgb(163,162,162);
}
.more-info 
{
    color:rgb(163,162,162);
    text-decoration: underline;
}
.collections
{
    background-color: white;
    border: 10px solid rgb(47,46,44);
}


.border-right
{
    border-right: 1px solid grey;
    /* padding: 3px 13px 3px 13px;
    width: 100%;
    margin-left: 0px; */
}
.container-height
{
    
    
    height: 150px;
}
.container-height h3{
    color: rgb(85,84,95);
    font-weight: 400;
    
   
}
.container-height p{
    font-size: 10px; 
    color: rgb(163,162,162);
}
.album div {
   
}
.right-container
{
    width: 60%;
    padding-left: 5px;
    height: 100%;
}
.right-container p{
    line-height: 20px;
    
}
.glass
{
    
    background-image: url("./Images/promo_glass.png");
    background-repeat: no-repeat;
    padding: 5px 20px;
    background-position: bottom left;
}
.glass-coll-link
{
    margin-top: 30px;
    width: 50%;
    margin-left: 160px;
    padding-left: 10px;
}
.glass-coll-link a{
    color: rgb(68,85,114);
}
.plates
{
   
    background-image: url("./Images/promo_plates.png");
    background-repeat: no-repeat;
    padding: 5px 20px;
    background-position: bottom center;
}
.plate-coll-link
{
    margin-top: 30px;
    width: 50%;
    margin-left: 160px;
    padding-left: 10px;
}
.plate-coll-link a{
    color: rgb(68,85,114);
}
.album
{
    
    padding: 5px 20px;
    background-image: url("./Images/promo_album.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.wid p{
    margin-bottom: 10px;
}
.album-coll-link br
{
    width: 40%;
    
}
.album-coll-link a{
    color: rgb(68,85,114);
}
.footer
{
    padding: 10px 0px 40px 0px;
    color:rgb(152,150,151);
}
.footer a
{
    color: rgb(152,150,151);
}
.foot-links
{
    padding: 7px 0px;
    
}
.foot-links a{
    padding-right: 10px;
    text-decoration: underline;
}
.foot-links li::before
{
    content: "| ";
    padding-right: 5px;
    color:rgb(216,214,215);
}
.foot-links li:first-child::before { content: ''; }
.call-at
{
    padding: 7px 10px;
    font-size: 10px;
}
.copy-right
{
    padding: 7px 10px;
    font-size: 10px;
}
.sign-up
{
    margin-bottom: 10px;
    font-size: 10px;
    padding-right: 10px;
}
.mail-sign-up
{
    width: 75%;
    
}
.enter-mail
{
    height: 13px;
    padding: 8px 15px;
    margin-right: 4px;
    font-size: 10px;
    width: 200px;
    border: none;
    box-shadow: inset 1px 1px 1px #6d6d6d ;
}
.btn-sign-up
{
    border: solid 1px #b1b1b1;
    border-radius: 5px;
    font-size: 10px;
    color: #4a4a4a;
    height: 13px;
    padding: 0px 5px;
    margin-top: 2px;
}